*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Staatliches', cursive !important;
}

.flex{
    display: flex;
    align-content: center;
}

.grid{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 5px;
    padding-bottom: 10px;
}

h6{
    padding-top: 10px;
    font-size: 1.75rem !important;
    text-align: right;
    margin-right: 15px;
}

.main-container{
    border: 1px solid azure;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding-inline: 10px;
}

.mathematical-value{
    flex-direction: column;
}

.mathematical-value>h2{
    align-self: flex-end;
    margin-right: 10px;
    color: white !important;
}

input[type = text]{
    height: auto;
    width: 412px;
    border: none;
    background-color: transparent;
    text-align: right;
    padding-inline: 10px;
    font-size: 50px;
    overflow: hidden;
}

input[type = text]:focus{
    outline: none;
}

button{
    border: none;
    background-color: rgb(41, 41, 41);
    font-size: 2rem !important;
    border-radius: 10px !important;
}

button:active{
    scale: 0.9;
}

#reset,#equal{
    background-color: rgb(104, 23, 23);
    color: aliceblue !important;
}

.operation,#backspace,#decimal{
    background-color: aliceblue !important;
    color: black;
}

svg{
    height: 60px;
    width: 60px;
}